[Desktop Entry]
Name=Catfish File Search
GenericName=File search
Comment=Search the file system
Keywords=files;find;locate;lookup;search;
Categories=GNOME;Utility;Filesystem;
Exec=catfish --large-icons --thumbnails
Icon=/usr/share/icons/Papirus-Dark/symbolic/actions/system-search-symbolic.svg
Terminal=false
Type=Application
MimeType=inode/directory;
X-XFCE-Source=file:///usr/share/applications/org.xfce.Catfish.desktop
Path=
StartupNotify=false
