[Desktop Entry]
Version=1.0
Type=Application
Name=Logout
Comment=Logout
Exec=xfce4-session-logout
Icon=/usr/share/icons/Papirus-Dark/symbolic/actions/system-shutdown-symbolic.svg
Path=
Terminal=false
StartupNotify=false
